HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### RS256.key and RS256.key.pub ###
/src/main/resources/RS256.key
/src/main/resources/RS256.key.pub
/src/main/resources/keypair.pem
/src/main/resources/private-key.key
/src/main/resources/public-key.crt

### Environment variables ###
.env